{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2>How To Use This Resource</h2>
        <p>
            This website resouce is intented to assist players in sharing thier Too Many Bones&copy; adventures amongst each other and the community. To use one of these
            encounters, you simply pull out the encounter cards and place them in order of days on the adventure deck and begin your adventure against the selected tyrant.
            In the instance of special encounter cards which mix in special encounters, you have one of two options: 1) simply replace one of the encounters at your chocie
            with the special encounter, or 2) roll a d6, and in that many days you may replace the scripted encounter for the special encounter.  Either way, you will never
            be required to use the special encounter.  For those worried that they know the exact order of the encounter cards, just build the deck as normal, set asside
            the day 1 - 3 cards as needed and shuffle the deck. While you will know what cards are present, the order will not be known.
            Loot is still completely random as well as the Baddie Queues.

            Ah the stories of plunder and gearloc bravery will ring true, but can you beat an adventure in less progression points and with a better gearloc build than your
            rivals?  May you truely triumph over your tyrannical foes.
        </p>
        <h2>About</h2>
        <p>
            So what is this website all about? Well it has two main goals:
        <ul>
            <li>House a collection of Adventures that people can play as part of a Monthly Community Event</li>
            <li>Provide a method of recording adventures for the community.</li>
        </ul>
        <p>
            I have always been facinated and inspired by the 1Player Guild on Board Game Geek, where community members run Monthly Challenges for thier favorite games.
            Having participated in several different games challenges, I always thought that it would be great if something like that was organized for Too Many Bones.
            I have seen to great applications come about for Too Many Bones, and decided to create a place to facilitate those types of events, where players can all
            choose to participate in an adventure mirrored by other players.
        </p>
        <p>
            In the future, I hope to improve on the base system, so that we can record more about your adventure. I also hope to develop a method of recording gearloc
            builds for a PvP Fight Club with solo play scripts, so players can face off against other gearlocs as well.
        </p>
    </div>
{% endblock %}