{% extends 'base.html.twig' %}

{% block title %}Adventure Encounter{% endblock %}

{% block body %}
    <h1>Adventure Encounters</h1>
    <p>All this was rendered in TWIGS!!!</p>
{% endblock %}