{% block footer %}
    <hr />
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
        <div class="container-fluid">
            <div class="row" style="margin-bottom:3em">
                <div class="col-xs-12">
                    <ul class="list-inline" style="list-style: none;">
                        <li><a href="/about">About  <i class="fas fa-book"></i></a></li>
                        <li><a href="/apis">API  <i class="fab fa-node-js"></i></a></li>
                        <li><a href="https://paypal.me/rschachtnerII" alt="Donate via PayPal" title="Donate via PayPal">Donations  <i class="fas fa-gift"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="display: inline-block;">
                    <p>
                        Designed and built by Wargfn. Contact: <a href="https://twitter.com/wargfn" title="Twitter"><i class="fab fa-twitter"></i></a> <a href="https://reddit.com/user/Wargfn/" title="Reddit"><i class="fab fa-reddit"></i></a>
                        <a href="mailto:wargfn@hotmail.com" title="E-mail"><i class="far fa-envelope"></i></a><br>
                        Card and Chip data maintained intermittently. <br>

                        Please post <i class="fas fa-bug"></i> reports and feature request on <a href="https://github.com/wargfn/TMBCDE/issues"><i class="fab fa-github"></i></a><br>
                        You may contribute by giving money on <a href="https://paypal.me/rschachtnerII" alt="Donate via " title="Donations Greatly Appreciated"><i class="fab fa-cc-paypal"></i></a>.
                    </p>
                </div>
                <div class="col-md-8" style="display: inline-block;">
                    <p>
                        The information presented on this site about Too Many Bones, Too Many Bones: Undertow, both literal and graphical, copyrighted by <a href="https://chiptheorygames.com">Chip Theory Games</a>.
                        This website is not produced, endorsed, supported, or affilitated with <a href="https://chiptheorygames.com"> Chip Theory Games</a>.
                    </p>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}