{% extends 'base.html.twig' %}

{% block title %}Too Many Bones Community Events {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron col-lg-12"><h1>Welcome to the Unofficial Too Many Bones Community Events Site</h1>
            <p class="lead align-content-lg-center"><a href="https://chiptheorygames.com/ctgnews"><img class="align-content-center" src="images/toomanyboneslogo.png" alt="BaseSet" height="150" width="300"></a>
                <a href="https://chiptheorygames.com/store#!/Too-Many-Bones/c/22721100/offset=0&sort=normal"><img class="align-content-center" src="images/toomanybonesundertowlogo.png" alt="Undertow" height="150" width="330"></a>
                <a href="https://chiptheorygames.com/support"><img class="align-content-center" src="images/toomanybonessplicedicelogo.png" alt="Undertow" height="125" width="350"></a></p>
            <hr class="my-4">
            <p>Our goal is to provide a community resource that can be used by players to play against Splice and Dice Community creations and to provide exciting new adventures for the discerning gearloc.</p>
        </div>
        <div class="col-lg-12">
            <h2>Current Community Challenges</h2>
            <div class="row">
                <div class="col-lg4">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg4">
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <h4 class="card-title">Primary card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}