{% extends 'base.html.twig' %}

{% block title %}Too Many Bones Community Events {% endblock %}

{% block body %}
    <div class="jumbotron"><h1>Welcome to the Unofficial Too Many Bones Community Events Site</h1>
    <p class="lead"><img src="images/toomanyboneslogo.png" alt="BaseSet" height="150" width="300"><img src="images/toomanybonesundertowlogo.png" alt="Undertow" height="150" width="300"></p>
    <hr class="my-4">
    <p>Our goal is to provide a community resource that can be used by players to play against Splice and Dice Community creations and to provide exciting new adventures for the discerning gearloc.</p>
    </div>
{% endblock %}